body{
    background-color:#1f242d;
    background-size:cover;
    height:100vh;
}
.logo-image {
    margin-top: 0;
    padding-top: 0;
    height: 40px;
    width:50px;
}
.main-heading{
    text-align: center;
    font-size:25px;
    color: white;
}
/* .education-img{
    color:white;
    background-color: transparent;
} */
.education-card-section{
    background:transparent;
    color:white;
}
.education-img{
    width:100%;
}

@media screen and (min-width:830px){
    .education-card-section{
        /* border-top-right-radius:30px; */
        border-top-left-radius:50px;
    }
    .education-img{
        /* border-bottom-left-radius:30px; */
        border-bottom-right-radius:50px;
        height:450px;
        width:500px;
    }
    .education-mediaquery{
        display:flex;
    }
}
.education-btn-section{
    display: inline-block;
    padding:10px 30px;
    background: #10f63a;
    border:2px solid #10f63a;
    border-radius: 40px;
    box-shadow: 0 0 10px #10f63a;
    font-size:16px;
    font-weight:600;
    transition: .5s;
}
.education-btn-section:hover{
    background: transparent;
    color:#10f63a;
    box-shadow: none;
}
.education-heading{
    font-size:35px;
    font-family:"roboto";
    text-align:center;
    font-weight:600;
    color:aqua;
}
 p {
    font-family:"roboto";
}